.questions-rom{ :data_ng_controller => 'formsController' }
  %form.form-horizontal{ :name => 'myForm' }
    .control-group{ :data_ng_class => '{error: myForm.subject.$error.required, warning: myForm.subject.$error.minlength, success: myForm.subject.$valid}' }
      %input{:name => 'subject', :required => true, :type => 'text',
        :data_ng_model => 'questionSubject',
        :data_ng_pattern => '/^(What|When|How|Which|Where|Who|Why|Can)/',
        :data_ng_minlength => "15" }
      %br
      %div.guidance
        {{myForm.subject.$error}}
        {{myForm.subject.length}}
        %div{ :data_ng_class => "{'text-error': myForm.subject.$error.required, 'text-success': !myForm.subject.$error.required}" }
          %i.icon-minus
          %i.icon-ok
          Question can't be blank.
        %div{ :data_ng_class => "{'text-error': myForm.subject.$error.required,
              'text-warning': myForm.subject.$error.minlength,
              'text-success': (!myForm.subject.$error.minlength && !myForm.subject.$error.required) }" }
          %i.icon-minus
          %i.icon-ok
          Question is too short! (Minimum 15 characters)
        %div{ :data_ng_class => "{'text-error': myForm.subject.$error.required,
              'text-warning': (!myForm.subject.$error.minlength && myForm.subject.$error.pattern),
              'text-success': (!myForm.subject.$error.pattern && !myForm.subject.$error.required)}" }
          %i.icon-minus
          %i.icon-ok
          Please ask a valid question.
          %i
            %small
              %b Tip:
              Start with "What", "Who", "When" etc. End the question with a '?'


.page-header
  %h1 Upcomming Events
  %p.lead Stay tuned for the latest upcomming events!

%table.table
  %tr
    %th Name
    %th Title
    %th Content
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.title
      %td= event.content
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }


= link_to 'New Event', new_event_path
